@CHARSET "UTF-8";

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Ubuntu-light, Arial, sans-serif;font-size:15px;padding:0px 9px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:4px 9px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-hcqy{font-size:15px;font-family:Ubuntu-light, Arial, sans-serif;color:#9b9b9b;text-align:right}
.tg .tg-81h7{font-size:20px;font-family:Ubuntu-light, Arial, sans-serif;background-color:#ededed;color:#ffffff;text-align:center}
.tg .tg-bbnh{font-size:20px;background-color:#ededed;color:#ffffff;text-align:center}
.tg .tg-er8d{font-size:20px;background-color:#ededed;color:#ffffff;text-align:center}
.tg .tg-0t52{font-size:20px;background-color:#ededed;color:#ffffff;text-align:center}
.tg .tg-txle{font-size:12px;color:#656565;text-align:right; width:290px}
.tg .tg-nftd{font-size:22px;font-family:Verdana, Geneva, sans-serif !important;;color:#fd6864;text-align:center}
.tg .tg-2j4i{font-size:22px;font-family:Verdana, Geneva, sans-serif !important;;color:#fe0000;text-align:center}
.tg .tg-3tou{font-size:22px;font-family:Verdana, Geneva, sans-serif !important;;color:#cb0000;text-align:center}
.tg .tg-zmc7{font-family:Verdana, Geneva, sans-serif !important;;color:#cb0000;text-align:center}
.tg .tg-6bn6{font-size:14px;color:#9b9b9b;text-align:right}
.tg .tg-v0im{font-weight:bold;font-size:18px;background-color:#ededed;color:#ffffff;text-align:center}
.tg .tg-pk4h{font-weight:bold;font-size:18px;background-color:#ededed;color:#ffffff}
.tg .tg-cc01{font-weight:bold;font-size:18px;background-color:#ededed;color:#ffffff}
.tg .tg-hyp8{font-weight:bold;font-size:16px;background-color:#ededed;color:#ffffff}
