@CHARSET "UTF-8";
.travel-style .header-p{
	font-family: Arial,Helvetica,sans-serif;
}

.travel-style strong{
	color: #fff;
	font-size: 14px;
	line-height: 45px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

.travel-style .book-now{
	width: 190px;
	display: inline-block;
	background-color: #fff;
	color: #fd4158 !important;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	margin-right: 15px;
}

.travel-style .book-now strong{
	color: #fd4158 !important;
	
}

.travel-style h3{
	margin-bottom: 0;
	margin-top: 0;
}

.travel-style .travel-h3{
	margin-bottom: -20px;
/* 	margin-top: 40px; */
}

.sectiontravel{
	margin-top: 30px;
}

.travel-style .texttravel .text-p{
	color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	line-height: 22px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Lato;
}

.travel-style #templatemo_footer p{
	line-height: 1.42857;
	
}

.travel-style #templatemo_footer p strong{
	font-weight: 700;
}

.travel-style .icontravel a{
	width: 100%;
	height: 100%;
}

.containertravel p{
	margin: 0;
}

#bottom_button a{
	display: block;
	width: 140px;
	height: 50px;
	color: #ffffff;
	
	background-image: linear-gradient(to bottom, #fd4158, #fd6464);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size: 24px;
	line-height: 20px;
	padding: 13px 12px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	font-family: Arial,Helvetica,sans-serif;
}



.pagination-button {
	width: 130px;
	height: 50px;
	
	font-size: 24px;
	line-height: 20px;
	
}

#bottom_back_button a{
	display: block;
	width: 180px;
	height: 50px;
	color: #ffffff;
	
	background-image: linear-gradient(to bottom, #fd4158, #fd6464);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size: 24px;
	line-height: 20px;
	padding: 13px 12px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	font-family: "FontAwesome",Arial,Helvetica,sans-serif;
}

#bottom_enquiry_button a{
	display: block;
	width: 180px;
	height: 50px;
	color: #ffffff;
	
	background-image: linear-gradient(to bottom, #fd4158, #fd6464);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size: 24px;
	line-height: 20px;
	padding: 13px 12px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	font-family: "FontAwesome", Arial,Helvetica,sans-serif;
}

#bottom_enquiry_button button{
	display: block;
	width: 130px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	padding: 13px 12px;
	font-family: "FontAwesome", Arial,Helvetica,sans-serif;
	vertical-align: middle;
}

#back_button {
	margin-top: 30px;
	margin-bottom: 10px;
}

#bottom_description{
	margin-top: 10px;
	margin-bottom: 10px;
}

#bottom_text_des p{
	color: #333;
	font-family: Lato;
	font-size: 12px;
	line-height: 24px;
}

#bottom_logo{
	margin-top: 10px;
}

/* model box part*/
.contactModal input{
	border: 1px solid #eee !important;
	color: #555555 !important;
	width: 80%;
/* 	line-height: 40px; */

}

.contactModal input[type="checkbox"]{
	width: auto;
	margin-left: 5px;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}

.contactModal .footer-checkbox input[type="checkbox"]{
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}
.contactModal .footertravel-checkbox input[type="checkbox"]{
	width: auto;
	margin-left: 5px;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}
.contactModal textarea {
	width: 420px !important;
	border: 1px solid #eee !important;
	box-shadow: 0 2px 0 0 #f1f1f1;
	height: 200px !important;
}

.contactModal {

/* 	z-index: -10; */
/*  	margin-top: 50px;  */
}

.modal-dialog {
	width: 1000px;
}

.contactModal label{
	
}

.contactModal label .required {
    border: 0 none;
    color: red;
    font-weight: bold;
}

.modal-body {

}

.modal-right {
	border-right: 1px solid #eee;
}

.error {
	color: #d20000;
}

.contactModal input[class~="error"] {
	border: 1px solid #d20000 !important;
}

.contactModal label[class="error"] {
/* 	margin-top: -10px; */
	margin-bottom: 0;
}

/* box notification*/
div.box-notification {
	width: 100%;
	float: left;
}
div.box-notification-content:before {
	 content: "\f164";
	 margin-right:20px;
	 color:#b1aa5a;
	 font-size:16px;
	 font-family:"FontAwesome";
}
div.box-notification-content {
    background: #fffbcc;
    border: 1px solid #f2eec0;
    color: #8f8838;
    padding: 15px 15px 15px 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	width: auto;
    font-size: 14px;
}

div.box-notification a {
    color: #8f8838;
    text-decoration: none;
}

div.box-notification a:hover {
    color: #8f8838;
    text-decoration: underline;
}

.in-sec p {
/* 	width: 1000px; */
	color: #555555;
}

.in-sec p br {;
	margin-bottom: 10px;
}

.bottom-button-style{
	margin-bottom: 20px;
}

.home-travel-h3{
	margin-left: 10px;
}

.travel-style h3 a:before{
	color: #333333;
}

.button-visible-gap{
	height: 20px;
}

#templatemo_mobile_menu_wap .glyphicon-align-justify{
	font-size: 20px;
}

.contact-heading{
	text-align: center;
}

.ism_wrap{
	top: 40%;
	left: 0;
	position: fixed;
}

#error-404-page{
	margin-top: 40px;
}

.get-home-button{
	width: 150px;
}

.btn-container{
	margin-top: 30px;
}

.pagination {

    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 40px;

}

.pagination span.current, .pagination a:hover{
	border-color: #e85f5f;
	color: #fff !important;
	background-color: #e85f5f;
}

.pagination a, .pagination span{
	
	border: 1px solid #eee;
    box-shadow: 0 2px 0 0 #f1f1f1;
    font-size: 16px;
    font-weight: normal;
    margin-right: -4px;
    padding: 18px 24px;
    text-decoration: none;
}

.btn-group-block{
	width: 260px;
}

.logo-group-block{
	width: 300px;
}

.bottom-logo-block{
/* 	width: 250px; */
}

#bottom_text_des[class~="visible-md"] p{
	font-size: 13px;
}

.ss-banner-1 .ss-timer .ss-timer-value{
	color: #fd4158;
}

.ss-banner-1 .ss-banner .ss-banner-element-wrapper{
	color: #fd4158;
}

.ss-banner-1 .ss-banner .ss-banner-content{
	text-shadow: 0 1px 1px rgba(253,65,88, 0.4);
}

.ss-banner-1 .ss-banner .ss-banner-content h6{
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.ss-banner-1 .ss-banner .ss-banner-content h6 a:hover{
	text-shadow: 0 1px 1px rgba(253,65,88, 0.4);
}

.ss-banner-1 .ss-timer .ss-timer-label{
	background: none repeat scroll 0 0 #fd4158;
}

#mobile_menu_phone strong{
	font-family: "FontAwesome",Arial,Helvetica,sans-serif;
}

#mobile_menu .menu-mobile li a{
	height: 60px;
	overflow: hidden;
}

#mobile_menu #mobile_menu_hide_btn{
	height: 40px;
}

#call-us-bottom a{
	width: 150px;
}

.contact-heading{
	padding-bottom: 10px;
	/* border-bottom: 2px solid #fd4158; */
	color: rgb(25,172,217);
	font-weight: 600;
	width: 300px;
	
}

#contactForm label .required {
    border: 0 none;
    color: red;
    font-weight: bold;
}

#contactForm input[class~="error"] {
	border: 1px solid #d20000 !important;
}

.mobile-enquiry-button{
	background-color: #1fb8b3;
	border: medium none;
    color: #fff;
    cursor: pointer;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 17px;
    text-transform: uppercase;
    width: 100%;
}

.ism_wrap a{
	text-decoration: none;
}

.date-input-top{
	
	margin-top: 6px;
	color: black;
	
	background-color: #fff;
    background-image: none;
    border: 1px solid #eee !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 16px;
    height: 33px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
	
}

#package_list li a{
	color: black;
}

@media (min-width: 768px) {
	
.travel-style #formilla-chat-button-inner{
	height: 35px;
}

}

@media (max-width: 768px) {
	.travel-style #formilla-chat-button{
	display: none;
}
}

@media (max-device-width: 768px) and (orientation : landscape){
	.ss-banner-bottom{
	  display:none;
	}
}

#formillaSendButton div{
	margin-bottom: 5px;
}

#package_list{
	height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#package_list_mobile{
	height: auto;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#package_search_submit{
	
}

.remove-right-padding{
	padding-right: 0;
}

.remove-left-padding{
	padding-left: 0;
}

#package_dropdown{
	width: 100%;
	margin-top: 5px;
}

#package_search_submit1{
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	font-size: 22px;
/* 	margin-top: 9px; */
	line-height: 45px;
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

#package_search_submit1 i{
	color: #fd4158;
}

#package_search_submit2{
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	font-size: 22px;
/* 	margin-top: 9px; */
	line-height: 45px;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

#package_search_submit2 i{
	color: #fd4158;
}

#package_list li a{
	font-size: 14px;
	line-height: 26px;
}

#package_list_mobile li a{
	font-size: 14px;
	line-height: 26px;
}

#templatemo_banner_top form{
	border: 0;
	margin: 0;
	padding: 0;
}

#templatemo_mobile_menu_wap form{
	border: 0;
	margin: 0;
	padding: 0;
}

#mobile_menu_hide_div{
	border-bottom: 2px solid #fff;
}

.date-mobile{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

#package_dropdown_mobile{
	width: 200px;
	margin-top: 10px;
	margin-left: 25px;
}

.submit-mobile{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.submit-mobile-button{
	width: 200px;
}

.menu-mobile{
	border-top: 2px solid #fff;
}

#package_search_submit_mobile i{
	color: #fff;
}

#package_list_mobile{
	margin-left: 40px;
}

.sticker-discount{
backface-visibility: hidden;
	
	position: absolute;
	font-size: 22px;   
    top: -57px;
    height: 80px;
    width: 80px;
    left: -35px;
	
}

.individual-discount{
	position: absolute;
	font-size: 22px;
	height: 110px;
    width: 110px;
    background-image: url('../images/sticker-discount-110.png');
}

.individual-discount-text{
	display: block;
	padding-top: 24px;
	padding-left: 16px;
	color: #ffffff;
	font-size: 36px;
	
}

.individual-discount-text-off{
	color: #ffffff;
	font-size: 14px;
	display: block;
/* 	margin-top: -5px; */
	padding-left: 50px;
	
}



.sticker-discount-span{
	color: #ffffff;
	font-size: 18px;
	display: block;
	padding-top: 10px;
}

.sticker-discount-span-off{
	color: #ffffff;
	font-size: 14px;
	display: block;
	margin-top: -5px;
}

.icontravel img{
	width: 350px;
}

@media (max-width: 510px) {
	
	.individual-discount{
	  background-image: url('../images/sticker-discount-80.png');
	  height: 80px;
      width: 80px;
	}
	
	.individual-discount-text{
	display: block;
	padding-top: 10px;
 	padding-left: 20px;
	color: #ffffff;
	font-size: 18px;
	
}

    .individual-discount-text-off{
	color: #ffffff;
	font-size: 14px;
	display: block;
	margin-top: -5px;
 	padding-left: 26px; 
	
    }
}

@media (max-width: 600px) {
	.sticker-discount{
	  left: auto;
	  right: 40px;
	}
	
} 

@media (max-width: 380px) {
	.icontravel img{
	  width: 330px;
    }
    
    .containertravel .icontravel{
    width: 330px;
}
}

@media (max-width: 360px) {
	.icontravel img{
	width: 310px;
}
    .containertravel .icontravel{
    width: 310px;
}
}

.modal-dropdown-btn{
	width: 160px;
	border: 1px solid #eee !important;
}

.banner-fixed-offset{
	margin-top: 81px;
}

.plan-trip-dropdown >a.buton_custom{
    margin-right: 5%;
 
}

.plan-trip-dropdown .dropdown-menu{
   border-radius: 0px;
  
}

.plan-trip-dropdown >a:hover, .plan-trip-dropdown >a:focus{
	color: #fff;
}

.buton_custom{
	display: inline-block;
	line-height: 16px !important;
	border: 1px solid transparent;
	border-radius: 0px;
	color: #fff;
	background: #0086ac none repeat scroll 0 0;
	font-family: arial;
	padding: 14px 30px;
}

ul.trip{
  background: #0086ac;
  width: 168px;
 
/*   margin-top: 2px; */
/*   min-width: 171px; */

/*   padding: 0; */
}

ul.trip li:hover {
    background: #61cced;
}

ul.trip li a{
	text-align: left;
}

ul.trip li a:hover {
    background: #61cced;
/*     color:#000 !important; */
}

.phone-txt{
	margin-right: 20px;
}

a i{
	color: inherit;
}

.ad-detail-content p a{
	white-space: nowrap;
}

.ad-detail-content p a:hover{
	color: #2a6496;
}

/*-------button effect----------*/
.quote.button_effect{
	background-color: #0086AC !important;
    border-style: groove;
    box-shadow: 0 0 8px #fff inset;
    font-family: "Oleo Script",cursive;
    font-size: 26px !important;
    line-height: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -30px;
    padding: 0 15px;
    margin-bottom: 0px;
    width: 220px;
}

.prosenjitdiv li a{
	background-color: #fff !important;
    color: #bf0086 !important;
    font-family: Roboto;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.prosenjitdiv li a:hover{
	background-color: #bf0086 !important;
	color: #fff !important;
}

ul.trip{
	background-color: #fff !important;
	width: 220px;
}

@media (max-width: 500px){
	.quote.button_effect{
		 font-size: 20px !important;
	     line-height: 0 !important;
	   	 margin-top: 0;
	   	 padding: 0 15px;
	   	 width: 180px !important;
	
	}
	
	ul.trip{
		background-color: #fff !important;
		width: 180px;
    }
}

@media (max-width: 992px){
	
	.modal-right{
		border-right: 0px solid #fff;
	}
}

a.enquiry_anchor.buton_custom{
	background: inherit !important;
	color: #0086ac !important;
}

#templatemo_banner_top .btn:active, #templatemo_banner_top .btn.active{
	box-shadow: none;
}

#templatemo_banner_top .btn:focus, #templatemo_banner_top .btn:active:focus, #templatemo_banner_top .btn.active:focus{
	outline: none;
}

.sectiontravel{
	background-color: #f5f5f5;
}

.sectiontravel h3, .sectiontravel h3 a{
	line-height: 30px;
}

.sectiontravel .helper{
	padding-top: 100%;
}

.package-bullet{
	color: #7988d6;
}

#templatemo_banner_top a.header_enquiry.header_quote{
	background-color: #0086AC !important;
	border-style: none;
	box-shadow: 0 0 8px #fff inset;
	color: #fff !important;
	padding: 10px;
	line-height: 20px !important;
}

#quote-mobile a{
	margin-right: 0px;
	margin-top: 10px;
}

.travel-style .title-area{
	margin: 10px 0 0 10px;
	padding: 0px;
}

@media (max-width: 768px){
	.site-header .widget-area{
		display: none;
	}
	
	.travel-style .title-area{
		height: 80px;
	}
}

.travel-style .js-superfish .sub-menu li, .travel-style .js-superfish .sub-menu span,
.travel-style .js-superfish .sub-menu a, .travel-style .js-superfish .sub-menu ul
{
	line-height: normal;
}

.travel-style div.fl-node-595337ab48246 .pp-heading-content .pp-heading .heading-title span.title-text{
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.4;
        color: #252525;
    font-size: 20px;
}

.travel-style div.fl-node-596737acea524 .pp-heading-content .pp-heading .heading-title span.pp-primary-title{
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    font-size: 20px;
    font-style: normal;
}

.travel-style div.fl-node-596756be31438 .pp-heading-content .pp-heading .heading-title span.pp-primary-title{
	font-size: 26px;
	font-family: "Open Sans", sans-serif;
	    color: #252525;
	font-weight: 600;
}

.travel-style div.fl-node-5967569db8e09 .pp-heading-content .pp-sub-heading p{
	text-align: left;
	margin-bottom: 10px;
	color: #555;
}

.travel-style .fl-node-5967558a8327f > .fl-row-content-wrap{
	background-image: url(../images/Le-Meridien-Header.jpg);
}
